@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

body {
    color: white;
    height: 100vh;
    background-image: url('/git/alx_capstone_project/assets/wallpaper.jpg');
    background-size: cover;
    background-position: center;
}

/* Default styles for all screens */
@media screen and (max-width: 649px) {
    body {
        max-width: 600px;
    }
    .about-text p {
        max-width: 373px;
        font-size: 10px;
    }
}

/* Header */

.header {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 17.3%;
    height: 85vh;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 0px;
    padding-bottom: 0%;
    background-color: rgba(11, 10, 11, 0.962);
    z-index: 0%;
    cursor: pointer;
}

/* Navigation bar */

.navbar {
    width: 50%;
    height: 50vh;
}
.navbar a {
    padding-left: 50%;
    display: grid;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    color: rgba(129, 128, 117, 0.703);
    transition: .3s;
    text-decoration: none;
}
.navbar a:active,
a:hover {
    color: rgba(215, 169, 19, 0.974);
}

/* Home Page */

#Home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 3, 3);
    background-image: url('/git/alx_capstone_project/assets/hands\ up.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.Home-content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
    padding-top: 10%;
    padding-left: 30%;
    color: rgba(188, 183, 152, 0.852);
    margin: 0% auto;
}
.Home-content h1 {
    align-items: center;
    justify-content: space-between;
    font-size: 90px;
    width: 100%;
    height: 25vh;
    margin-left: 30px;
    padding: 5% 5% 10%;
}
.Home-content h1 span {
    color: rgba(230, 193, 8, 0.793);
}
.Home-content h3 span {
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 50px;
    color: rgb(139, 41, 41);
    align-items: center;
    inline-size: 1.5px;
    margin: 0% auto;
}
.btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
    height: 3rem;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(139, 41, 41, 0.559);
    border-radius: 20px;
    border: 3px solid rgb(131, 11, 11);
    box-shadow: 0 0 5px rgb(15, 15, 15);
    margin-top: 2rem;
}
.btn-box a {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 40px;
    font-size: 19px;
    text-decoration: none;
    color: rgba(51, 68, 72, 0.786);
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 1;
    transition: .3s ease;
    margin-left: 20px;
}
.btn-box a:hover {
    color: rgba(230, 193, 8, 0.793);
}

/* About me section */

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: rgba(232, 232, 231, 0.952);
    color: rgb(66, 25, 25);
    margin: 0% auto;
}
.Avatar-img img {
    max-width: 600px;
    box-sizing: border-box;
    border: solid rgb(71, 68, 61);
    box-shadow: 0 0 5px;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: 60px;
}
.about-text {
    display: grid;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px 50px;
    width: 100%;
    height: 40vh;
    margin: 0 auto;
}
.about-text h2 span {
    color: rgb(21, 21, 21);
    font-weight: 350px;
    font-size: 50px;
    line-height: 1.7px;
    margin: 10px 0px;
    margin-top: -80px;
    text-align: center;
}
.about-text h4 {
    font-size: 25px;
    font-weight: 300px;
    line-height: 20px;
    align-items: center;
    justify-content: space-between;
}
.about-text p {
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    font-weight: 50px;
    font-size: 17px;
    margin-bottom: 0.5rem;
    display: block;
    line-height: 1em;
    margin: 0 auto;
}

/* Skills section */

.sub-title {
    display: grid;
    justify-content: space-around;
    height: 70vh;
    width: 100%;
    background-color: rgba(232, 232, 231, 0.952), transparent;
    color: rgb(21, 21, 21);
}
.sub-title h1 {
    font-weight: 350px;
    font-size: 60px;
    color: rgb(21, 21, 21);
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5em;
    display: block;
    gap: 2em;
}
.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 85%;
    max-width: 100%;
    border: 3px solid rgba(159, 159, 157, 0.852);
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb(18, 5, 5);
    border-radius: 20px;
    padding: 28px 50px 30px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 40px;
    background-color: rgb(222, 220, 220)
}
.headings {
    font-weight: 150px;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-left: 19px;
}

/* Technical skills bar */

.Technical-bars {
    font-size: 12px;
    margin-left: 10px;
}
.Technical-bars .bar {
    margin-top: 10px;
}
.Technical-bars .bar:first-child {
    margin-top: 0%;
}
.Technical-bars .bar:last-child {
    margin-bottom: 10px;
}
.Technical-bars .bar .info {
    margin-bottom: 10px;
}
.Technical-bars .bar .info span {
    font-size: 13.5px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 390px;
    height: 8px;
    background-color: rgba(101, 97, 97, 0.718);
    color: rgba(14, 14, 14, 0.952);
    animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
    transform-origin: left;
    transform: scaleX(1);
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

/* .progress-line animation */

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: rgb(155, 78, 78);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(1);
    transform-origin: left;
}
.progress-line.html span {
    width: 90%;
}
.progress-line.css span {
    width: 75%;
}
.progress-line.JavaScript span {
    width: 50%;
}
.progress-line.Python span {
    width: 50%;
}

/* Projects Section */

.Projects-section {
    display: grid;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 55vh;
    background-image: url('/git/alx_capstone_project/assets/Dark\ sunset\ wallpaper.jpg');
    background-position: center;
    background-size: cover;
    color: rgba(215, 169, 19, 0.974);
}
.Projects-section h2 {
    font-size: 50px;
    font-weight: 350%;
    align-items: center;
    justify-content: space-between;
    color: rgba(188, 183, 152, 0.852);
    margin-left: 50px;
    margin: 0% auto;
    padding-left: 20px;
    padding-top: -15px;
}
.Projects-section p {
    font-size: 25px;
    font-weight: 250px;
}
.btn-box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid;
    border-radius: 13px;
    width: 65%;
    height: 60px;
    margin-left: 85px;
    padding-left: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgba(215, 169, 19, 0.974), 0 0 25px rgba(215, 169, 19, 0.974);

}
.btn-box2 a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 150px;
    color: rgba(129, 128, 117, 0.703);
    transition: .3s;
    text-decoration: none;
    padding-left: 33px;
    overflow: hidden;
}
.btn-box2 a:hover {
    color: rgba(215, 169, 19, 0.974);
}

/* Contact Section */

.contact {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
    padding-left: 30px;
    margin-top: 0px;
    color: rgba(3, 3, 3, 0.996);
    background-color: rgb(250, 250, 250), transparent;
    height: 50vh;
}
.contact-text h2 {
    font-size: 50px;
    font-weight: 200px;
    text-align: center;
    line-height: 4;
    color: rgb(21, 21, 21);
    margin-top: -75px;
}
.contact-text h2 span {
    color: rgb(21, 21, 21);
}
.contact-text h4 {
    margin: 25px 5;
    color: rgba(14, 14, 14, 0.703);
    font-size: 25px;
    font-weight: 500;
}
.contact-list {
    margin-bottom: 2rem;
}
.contact-list li {
    margin-bottom: 10px;
    display: block;
}
.contact-list i {
    display: inline-block;
    color: rgba(14, 14, 14, 0.703);
    font-size: 14px;
    font-weight: 200px;
}
.contact-icons i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid rgba(14, 14, 14, 0.703);
    border-radius: 40px;
    font-size: 15px;
    color: rgba(14, 14, 14, 0.703);
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: .3s ease;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgba(14, 14, 14, 0.703), 0 0 25px rgba(14, 14, 14, 0.703);
}
.contact-icons i:hover {
    background: rgba(234, 189, 9, 0.777);
    color: rgba(3, 3, 3, 0.996);
    box-shadow: 0 0 10px rgba(19, 19, 19, 0.703);
}
.contact-form form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
.contact-form form input, textarea {
    display: block;
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    padding: 15px;
    background: rgba(109, 109, 109, 0.703);
    color: rgb(250, 248, 248);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 15px;
}
.contact-form label {
    font-weight: bold;
}
.contact-form textarea {
    resize: none;
    height: 8.5rem;
    width: 95%;
}
.contact-form form .send {
    display: inline-block;
    padding: 10px 20px;
    width: 30%;
    background: rgba(76, 75, 70, 0.718);
    border-radius: 25px;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600px;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 10px rgba(14, 14, 14, 0.703);
}
.contact-form form .send:hover {
    background-color: rgb(234, 186, 11);
}

/* Last text */

.last-text p {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: black;
    color: rgba(232, 232, 231, 0.952);
    font-weight: 300px;
    margin-top: 0px;
}
.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i {
    color: rgb(100, 100, 101);
    background: rgba(17, 15, 0, 0.718);
    font-size: 15px;
    padding: 10px;
    border-radius: 0.5rem;
}
